.form {
  margin: auto;
  max-width: 500px;
}

.fieldset {
  background-color: #48d3a6;
  border: 3px solid rgb(250, 252, 255);
  border-radius: 15px;
  box-shadow: 1px 1px 50px 20px rgb(213 144 144);
  padding: 40px;
  margin: 40px;
}

.labelText {
  width: 200px;
  display: inline-block;
}

.form--background {
  background-color: rgb(123, 165, 115);
}
.header {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}
.button {
  color: rgb(37, 14, 14);
  background-color: #fdc287;
  border: outset #ffa242;
}
