*,
::after,
::before {
  box-sizing: inherit;
}
body {
  background-color: black;
  background-image: url("theme.jpg");

  background-size: cover;
}
#root {
  color: black;
  font-family: "Lato", sans-serif;
  font-size: small;
  font-weight: 600;
  box-sizing: border-box;
  padding: 15px;
}
.app {
  display: grid;
  justify-content: center;
}
